<h1><%= @data_set.name %></h1>

<p><%= @data_set.node %></p>
<p><%= @data_set.json_data %></p>

<% if current_user == @data_set.user %>
  <p><%= link_to "Edit", edit_data_set_path(@data_set), :class => "btn btn-default" %></p>
  <p><%= link_to "Delete", data_set_path(@data_set),
                           :data => {:confirm => "You sure?",
                                     :method => "delete"},
                           :class => "btn btn-danger" %></p>
<% end %>


<div class="alchemy" id="alchemy"></div>
  <script type="text/javascript">
    var config = {
      dataSource: <%= @data_set.data_to_alchemy.html_safe%>,
      graphHeight: function(){ return 600; },
      graphWidth: function(){ return 600; },
      curvedEdges: function(){return true; },
    };
    alchemy.begin(config)
  </script>
</div>
